* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  text-align: center;
}

h1 {
  text-align: center;
  padding-bottom: 20px;
  color: #D62828;
}

p {
  text-align: center;
  margin: 10px auto;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto 20px auto;
  text-align: center;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #020202;
  color: #E9EBF8;
}

table a {
  color: #D62828;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D62828;
}

li {
  float: left;
}

li a {
  display: block;
  color: #E9EBF8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #4a4e69;
}

.action {
  text-align: center;
}

.action a {
  background-color: #FCBF49;
  color: #020202;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  margin: 10px 10px;
}



.action a:hover {
  background-color: #ffb624;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100px;
  background-color: #FCBF49;
  font-size: 1em;
  color: #020202;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

input[type=submit]:hover {
  background-color: #ffb624;
}

form {
  padding: 20px;
}

.error {
  color:#D62828;
}